body {
    width: 78vw;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 11vw;
    margin-right: 11vw;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    font-size: 0.85em;
}

p {
    font-size: 0.8em;
}

header {
    height: 13vh;
    width: 76vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    margin-bottom: 40px;
  }
  
  header nav {
    display: flex;
    font-size: 1.4em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  header ul.logo {
    margin-left: 0;
    padding-left: 0;
  }
  
  header ul.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  header ul.nav li {
    padding: 2px;
  }



img {
    max-width: 100%;
    box-sizing:content-box;

}

section img {
    cursor: zoom-in;
    padding-bottom: 28px;
}



.horizontal {
    display: flex;
    width: 78vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin-top: 57px;
    
}

.horizontal > div {
    flex: 1 1 0px;
    width: 0;
}

main {
    flex: 1 0 0
}

main#about .horizontal > div.left {
    padding-left: 5px;
    padding-right: 30px;
}

main#about .horizontal > div.right {
    padding-right: 5px;
    padding-left: 30px;
}

main#about div.text.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 13vh;
    width: 76vw;
    flex: 0 0 50px;
    margin-top: 65px;
  }
  

footer.horizontal {
    justify-content: flex-end;
}

footer.horizontal > .right {
    float: right;
    text-align: right;
}

footer #reclame {
    display: none;
}
